<app-nav-bar></app-nav-bar>
<main class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="information-container"
        fxFlex="100%"
        fxFlex.sm="80%" 
        fxFlex.xs="100%">
        <app-search-form></app-search-form>
    </div>
    <div class="grid-container" fxLayoutAlign="center center">
        <ng-container *ngIf="getRecipesLength>0 else noData">
            <app-dish-cards-grid [dishes]="recipes"></app-dish-cards-grid>
        </ng-container>
        <ng-template #noData>
            <div class="no-data-container">
                <ng-container *ngIf="requestSended | async; else typeAnyText">
                    <h2>Empty results!</h2>
                </ng-container>
                <ng-template #typeAnyText>
                    <h2>Try to search something!</h2>
                </ng-template>
            </div>
        </ng-template>
    </div>
</main>
