<mat-card class="mat-elevation-z4">
    <mat-card-title>Dishes search</mat-card-title>   
    <mat-card-content>
        <form fxLayoutAlign="stretch" 
            fxLayout="column"
            class="login-form"
            [formGroup]="searchForm">
            <mat-form-field appearance="fill">
                <mat-label>Categories, ingredients, etc</mat-label>
                <input matInput 
                        type="search" 
                        placeholder="search here" 
                        class="search-input" 
                        placeholder="Pasta"
                        formControlName="search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>